<?xml version="1.0" encoding="UTF-8" ?>
<config>
  <frontend>
    <refresh>10000</refresh>
    <nameorip>ip</nameorip>
  </frontend>
  <devices>
    <switches>
      <switch>
        <ip>172.20.10.1</ip>
        <name>North Campus Core</name>
      </switch>
      <switch>
        <ip>172.20.1.80</ip>
        <name>NA</name>
      </switch>
      <switch>
        <ip>127.0.0.1</ip>
        <name>localhost</name>
      </switch>
      <switch>
        <ip>172.20.1.101</ip>
        <name>NA</name>
      </switch>
      <switch>
        <ip>172.20.10.53</ip>
        <name>NA</name>
      </switch>
      <switch>
        <ip>192.168.1.1</ip>
        <name>WilliamCore</name>
      </switch>
    </switches>
    <servers>
      <server>
        <ip>192.168.1.148</ip>
        <name>desktop</name>
      </server>
      <server>
        <ip>4.2.2.4</ip>
        <name>Google DNS Server</name>
      </server>
      <server>
        <ip>192.168.1.114</ip>
        <name>Win7 Virt</name>
      </server>
    </servers>
  </devices>
</config>
